.div-accommodation-list {
  padding: 0.5rem calc((100vw - 1400px) / 2);
}

.div-accommodation-list h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.accommodation-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

@media screen and (max-width: 786px) {
  .accommodation-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.message {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
}
